.wallet-container {
    text-align: center;
    padding: 15px;
    margin: 15px;
    border-radius: 16px;
    border: 1px solid #7C4B96 !important;
}
.wallet-container h1 {
    text-align: left;
    font-weight: bold;
    font-size: 17px;
}
.donation-legend{
    color: white;
    padding: 20px;
    font-size: 15px;
}

.donation-legend h1{
    font-size: xx-large;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }