<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src={{imagePath}} width="100%" height="auto">
      </a>
      <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
                Home
              </a>
              <a class="navbar-item">
                Available sources
              </a>
              <a class="navbar-item">
                Donate
              </a>
          </div>
      </div>
      
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>