<div class="main-header">
    <div class="columns">
        <div class="column half">
            <img src="assets/img/purpleLogo.png">
          <h1>Get all sources in one single mail.</h1>
          <p>You can have newsletter service from multiple sources. asdiajsodia iajsodiajsdoias oiajsodiajsd oiajsdoiajsodi oiajsdoaisjd</p>
        </div>
        <div class="column half">
          Second column phone image
        </div>
       
      </div>
</div>
<app-info-box [Title] = "title" [Text]="text"></app-info-box>
